.footer {
  font-family: var(--font-display);
  background-color: var(--color-bg-primary);
  border-top: 1px solid var(--color-smoke-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}